@import 'mixins';

.c-main-title {
  margin-bottom: 30px;
}

.c-gameboard {
  margin-top: 5px;

  @media screen and (max-width: 360px) {
    margin-top: 10px;
  }
}

.c-category-box {
  background: $light-teal-cream;
  margin: 1rem;
}

.c-category-figure {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.c-category-image {
  width: 100px;

  @media screen and (max-width: 360px) {
    width: 64px;
  }
}

.c-category-title {
  align-items: center;
  color: $whitesmoke;
  display: flex;
  font-size: 2.4rem;
  height: 100px;
  justify-content: center;

  @media screen and (max-width: 360px) {
    font-size: 1.8rem;
    height: 64px;
  }
}

.c-question {
  align-items: center;
  background-color: $teal-cream;
  color: $white;
  display: flex;
  font-size: 1.6rem;
  height: 100px;
  justify-content: center;

  @media screen and (min-width: 769px) {
    border-radius: 20px;
  }
}

.c-progressbar {
  margin: 10px;
}

.c-choicelist {
  margin-top: 80px;
}

.c-choice > button {
  @include teal-button;
  height: 80px;
  white-space: normal;
  word-wrap: break-word;
}

.c-result {
  background: $teal-cream;
  border-radius: 10px;
  margin: 48px;
  padding: 20px;
}

.c-result-congrats {
  color: $white;
  font-size: 2.5rem;

  @media screen and (max-width: 360px) {
    font-size: 2rem;
  }
}

.c-result-score {
  background: $white;
  padding: 20px;
}

.c-result-button {
  @include teal-button;

  @media screen and (max-width: 320px) {
    font-size: 1.3rem;
  }
}
